<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% block css %}{% endblock %}
  </head>
  {% block header %} Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Perspiciatis maiores vero, officiis unde autem aspernatur est, nulla provident
  ad incidunt cupiditate quisquam doloremque repudiandae a aliquid. Voluptas
  quisquam officiis numquam. {% endblock %} {% block content %}{% endblock %}
  {%block footer %}
  <footer>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dolor cum eius
    maxime iure ullam quos perspiciatis suscipit est. Dolorum est sapiente
    aspernatur doloribus, aperiam dolor quisquam? Quis, voluptate magnam.
  </footer>
  {% endblock %} {% block javascript %} {% endblock %}
</html>
